<section class="login-container pb-4">
  <header class="header">
    <img src="assets/images/logo.png" alt="netflixtestlogo" class="logo">
  </header>

  <div class="login">
    <div class="row">
      <div class="col-lg-5 col-xl-4 col-md-8 col-sm-8 col-xs-12 offset-md-2 offset-lg-4 offset-sm-2">
        <div class="card">

          <div class="card-body">
            <form [formGroup]="form" (submit)="login()">
              <div class="row">
                <div class="col-10 offset-1">
                  <h2 class="card-title">
                    Se connecter
                  </h2>
                </div>
                <div class="col-10 offset-1 mt-4">
                  <input class="form-control form-control-lg" type="text" placeholder="Email ou numéro téléphone" formControlName="login">
                </div>
                <div class="col-10 offset-1 mt-3">
                  <input class="form-control form-control-lg" type="password" placeholder="Mot de passe" formControlName="password">
                </div>
              </div>
              <div class="row mt-5">
                <div class="d-grid">
                  <button class="btn btn-danger" type="submit" [disabled]="!form.valid">
                    Se connecter
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-5 mt-3 offset-1">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label myfs" for="flexCheckDefault">
                      Se souvenir de moi
                    </label>
                  </div>
                </div>
                <div class="col-6 mt-3">
                  <p class="myfs link ">Besoin d'aides ?</p>
                </div>
              </div>
            </form>
            <div class="row mt-5 pt-3 mb-5">
              <div class="col-10 offset-1">
                <p class="description-register">
                  Nouveau sur Netflix? <a class="register" href="">S'inscrire maintenant</a>.
                </p>
                <p class="description-captcha">
                  Cette page est protégéepar Google reCAPTCHA pour <br>
                  s'assurer que vous n'ête pas un robot.
                  <a class="read-more" href="">Lire plus.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="row">
    <div class="offset-xl-2 offset-lg-2 col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-1 ">
          <i class="fa-brands fa-facebook-f" style="color: white;font-size: 1.3rem;"></i>
        </div>
        <div class="col-1 ">
          <i class="fa-brands fa-instagram" style="color: white;font-size: 1.3rem;"></i>
        </div>
        <div class="col-1">
          <i class="fa-brands fa-youtube" style="color: white;font-size: 1.3rem;"></i>
        </div>
      </div>
      <div class="row mt-1">
        <p class="footer-text">
          Audiodescription <br>
          Relations investisseurs <br>
          Informations légales <br>
        </p>
      </div>
      <div class="row">
        <p>
          <span class="footer-text cadre">
            Code de service
          </span>
        </p>
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
      <div class="row mt-4">
        <p class="footer-text">
          Centre d'aide <br>
          Recrutement <br>
          Préférences de cookies <br>
        </p>
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
      <div class="row mt-4">
        <p class="footer-text">
          Cartes Cadeaux <br>
          Conditions d'utilisation <br>
          Mentions légales <br>
        </p>
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
      <div class="row mt-4">
        <p class="footer-text">
          Presse <br>
          Confidentialité <br>
          Nous contacter <br>
        </p>
      </div>
    </div>
  </div>
</footer>
